<!-- app/views/welcome/index.html.erb -->

<div class="container">
  <h1>Welcome to My Rails App with Bootstrap</h1>
  <p class="lead">This is a Bootstrap-styled welcome page.</p>
  <a class="btn btn-primary" href="#" role="button">Learn more</a>
</div>
